@inject IJSRuntime JSRuntime
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">V.NET</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Call the JavaScript function to initialize stars
            await JSRuntime.InvokeVoidAsync("initializeStars");
        }
    }

    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

        // Call the JavaScript function to update stars if the sidebar has expanded
        if (!collapseNavMenu) // Assuming expanding the nav menu
        {
            await Task.Delay(100);
            await JSRuntime.InvokeVoidAsync("updateStars");
        }
    }
}
